/*
.dark {
    background-color: black;
    color: white;
}
.light {
    background-color: white;
    color: black;
}
*/

*{
  padding:0;
  margin:0;
  text-align: center;
}
#sps{
  height:100px;
  width:100px;
}
h1{
    background-color:#4a4e69;
  color:#c9ada7;
  font-size: 70px;
  height:7rem;
  line-height:5rem;
}
body{
  background-color: #22223b;
}
.choice{
  height:165px;
  width:165px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.choice:hover{
  cursor:pointer;
  background-color: #8d99ae;
}
.img2{
  height:150px;
  width:150px;
  object-fit: cover;
  border-radius: 50%;
}
.choices{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:25rem;
  flex-wrap:cover;
  margin:5rem;
}
.scores{
  color:#adb5bd;
  font-size:2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:3rem;
  gap:10rem;
}
#user-score #comp-score {
  font-size:4rem;
}
/*.msg-container{
  color:#c9ada7;
  font-size:2rem;
  margin-top:3rem;
  text-align:center;
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
}*/
.msg-container{
  margin-top:5rem;
}
#message{
  background-color:#4a4e69;
  color:white;
  font-size:2rem;
  margin-top:5rem;
  display:inline;
  padding:1rem;
  border-radius:1rem;
}
